@import "../../assets/mixins.scss";
@import "../../assets/theme.scss";

.login-container {
    @include column;
    gap: $gap-big;
    min-height: 100%;
    justify-content: center;

    .login-form {
        @include column;
        justify-content: center;
        width: 100%;
        gap: 20px;

        .form-group label {
            display: block;
            margin-bottom: 8px;
            color: $secondary-color-1;
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            background-color: $primary-color-3;
            border: 1px solid $primary-color-7;
            border-radius: 5px;
            color: $secondary-color-5;
            font-size: 14px;
        }

        .form-group input:focus {
            outline: none;
            border-color: $focused-border-color;
        }

        .submit-button {
            width: 100%;
            padding: 10px;
            background-color: $primary-color-5;
            border: none;
            border-radius: 5px;
            color: $secondary-color-5;
            font-size: 14px;
            cursor: pointer;
        }
    }
}
