@import '../../../assets/mixins.scss';
@import '../../../assets/theme.scss';

.search-empty {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
}
