@use '../../assets/theme.scss';
@import '../../assets/mixins.scss';

.player-container {
    @include column;
    width: 94%;
    background-color: $primary-color-6;
    border-radius: 4px;
    align-self: center;
    transition: all 0.3s ease-in-out;
    margin-left: 10px ;
    margin-right: 10px ;
    &.expanded {
       height: 100%;
       margin-left: 0;
       margin-right: 0;
    }

    .dead-zone {
        pointer-events: none;
        z-index: -1000;
        height: 100%;
        width: 100%;
        &.expanded {
            height: 0;
        }
    }

    .player {
        @include row;
        align-items: center;
        justify-content: center;

        .track-container {
            padding: 5px;
            @include row;
            gap: $gap;
        }
        .player-controls {
            @include row;
            align-items: center;
            justify-content: center;
            button {
                @include row;
                align-items: center;
                justify-content: center;
            }
        }

    }
    .progress-container {
        @include column;
        justify-self: center;
        margin-left: 8px;
        margin-right: 8px;
    }
}
