@use '../../assets/theme.scss';
@import '../../assets/mixins.scss';

.player-container {
  @include column;
  width: 94%;
  background-color: $primary-color-6;
  border-radius: 4px;
  align-self: center;
  margin-left: 10px;
  margin-right: 10px;

  &:not(.expanded) {
    animation: collapse-height 0.5s ease-in-out forwards;
  }

  &.expanded {
    animation: expand-height 0.5s ease-in-out forwards;
    height: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .player {
    @include row;
    align-items: center;
    justify-content: center;

    &.expanded {
      height: 100vh;
    }

    .track-container {
      padding: 5px;
      @include row;
      gap: $gap;
    }

    .player-controls {
      @include row;
      align-items: center;
      justify-content: center;

      button {
        @include row;
        align-items: center;
        justify-content: center;
      }
    }

  }

  .progress-container {
    @include column;
    justify-self: center;
    margin-left: 8px;
    margin-right: 8px;
  }
}

@keyframes expand-height {
  from {
    height: 60px;
  }
  to {
    height: 100%;
  }
}

@keyframes collapse-height {
  from {
    height: 100%;
  }
  to {
    height: 60px;
  }
}