@use '../../assets/theme.scss';
@import '../../assets/mixins.scss';

.player-container {
    @include column;
    width: 94%;
    margin: 3px;
    background-color: $primary-color-6;
    border-radius: 4px;

    .player {
        @include row;
        align-items: center;
        justify-content: center;
        padding-left: 8px ;
        padding-right: 15px ;

        .track-container {
            padding: 5px;
            @include row;
            gap: $gap;
        }
        .player-controls {
            @include row;
            align-items: center;
            justify-content: center;
            button {
                @include row;
                align-items: center;
                justify-content: center;
            }
        }

    }
    .progress-container {
        justify-self: center;
        margin-left: 8px;
        margin-right: 8px;
    }
}
