@use '../../assets/theme.scss';
@import '../../assets/mixins.scss';

.player-container {
    @include column;
    width: 100%;
    position: fixed;
    bottom: 71px;
    background-color: #1a1d24;
}

.track-container {
    padding: 3px;
    @include row;
    gap: $gap;
}

.track-info {
    @include column;
    color: $secondary-color;
}

.track-info h3 {
    margin: 0;
}

.track-info p {
    margin: 0;
    font-size: 10px;
}

.progress-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.player-controls {
    background-color: #1a1d24;
}

.player-controls button {
    background-color: #1a1d24;
}
.player-controls button svg {
    background-color: #1a1d24;
}

.player-controls button:hover {
}

.no-track {
    color: #6b7280;
}
