@import "../../../assets/mixins.scss";
@import "../../../assets/theme.scss";

.artist-info {
    display: flex;
    flex-direction: column;
    gap: $gap-big;
    @include max-h-100pct;

    .artist-header {
        @include row;
        gap: $gap-big;
        align-items: center;

        .artist-title {
            display: flex;
            flex-direction: column;
            gap: $gap-small;

            .artist-name {
                font-size: 2rem;
                font-weight: 700;
            }
        }
    }
}

.artist-meta {
    color: $secondary-color-2;
}

.artist-actions {
    display: flex;
    gap: $gap-small;

    .btn {
        padding: 0.5rem 1rem;
        border-radius: 999px;
        background-color: $secondary-color-1;
        color: $secondary-color-4;

        &.primary {
            background-color: $secondary-color-2;
            color: $primary-color-1;
        }
    }
}

.artist-section {
    display: flex;
    flex-direction: column;
    gap: $gap-small;
}

.wikidata-summary {
    @include text-secondary(16px);
    color: $secondary-color-5;
    line-height: 1.5;

    a {
        color: #2196f3;
    }
}
