@import "../../../../assets/mixins.scss";
@import "../../../../assets/theme.scss";

.radio-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
