@import '../../assets/mixins.scss';
@import '../../assets/theme.scss';

.search-results {
    @include column;
    gap: 15px;
    margin-top: 15px;
    margin-left: 15px;

    .search-item {
        @include row;
        justify-content: space-between;
        .search-item-start {
            @include row;
            align-items: center;
            gap: $gap-medium;
        }

        .search-item-action {
            @include row;
            align-items: center;
            gap: $gap;
        }
    }
}
