@import '../../assets/mixins.scss';
@import '../../assets/theme.scss';

.track-list {
    @include column;
    gap: $gap-big;
}

.track-row {
    @include row;
    align-items: center;
    justify-content: space-between;
}
