.queue-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 0;
    &.expanded {
        height: 100%;
    }
}

