.library-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.library-container h2 {
    padding-left: 10px;
    margin: 0;
    font-size: 16px;
    color: #6366f1;
}

.albums-grid {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    gap: 6px;
}
