.album-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.album-info h1 {
    margin: 0;
    font-size: 24px;
}

.album-info h2 {
    margin: 0;
    font-size: 16px;
}

.album-info h3 {
    margin: 0;
    font-size: 16px;
}

.album-info p {
    margin: 0;
    font-size: 14px;
    color: #9ca3af;
}

.album-info .year {
    font-size: 12px;
    color: #6b7280;
}

.album-cover {
    width: 100%;
    height: 30%;
    background-size: cover;
    background-repeat: no-repeat;
}

.album-cover-overlay {
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 100%, 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.album-cover-overlay img {
    border-radius: 40%;
    width: 200px;
    max-width: 100%;
    height: auto;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    border-radius: 8px;
}
