@import "../../../../assets/mixins.scss";
@import "../../../../assets/theme.scss";

.album-cover {
    @include column;
    margin: 10px;
    align-self: center;
    justify-content: center;
    align-items: center;

    img {
        max-width: 100%;
        max-height: 100%;
        box-sizing: border-box;
        border-radius: 8px;
    }
}
