@import "../../../../assets/mixins.scss";
@import "../../../../assets/theme.scss";

.modal-headers {
    @include row;
    align-content: center;
    align-items: center;
    gap: $gap-medium;
    padding-bottom: 15px;
    border-bottom: 2px solid #333;
}

.modal-menu-item {
    @include row;
    align-content: center;
    align-items: center;
    gap: $gap-medium;
}
