@import '../../assets/mixins.scss';
@import '../../assets/theme.scss';

@mixin scroller {
  scroll-behavior: smooth;
  gap: $gap-big;
}

.horizontal-scroller {
  @include row;
  @include scroller;
  overflow-x: auto;
  overflow-y: hidden;
  max-height: 100%;
}

.vertical-scroller {
  @include column;
  @include scroller;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  flex: 1 1 auto;
  min-height: 0;
  padding-bottom: 150px;
}
