.item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .item-line {
        display: flex;
        flex-direction: row;
        gap: var(--gap);
        flex-grow: 1;

        .item-primary {
            font-size: 14px;
            padding-top: 3px;
            line-height: 0.8;
        }
    }
}
