@import 'theme.scss';

@mixin text-primary {
    font-weight: 600;
    color: $secondary-color;
    font-size: 14px;
}

@mixin text-secondary {
    font-weight: 500;
    color: $secondary-color-5;
    font-size: 12px;
}

@mixin row {
    display: flex;
    flex-direction: row;
}

@mixin column {
    display: flex;
    flex-direction: column;
}
