@import "theme.scss";

@mixin text-primary($size: 14px) {
    font-weight: 600;
    color: $secondary-color;
    font-size: $size;
}

@mixin text-secondary($size: 12px) {
    font-weight: 500;
    color: $secondary-color-5;
    font-size: $size;
}

@mixin row {
    display: flex;
    flex-direction: row;
}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin size-100dvh {
    height: 100dvh;
    max-height: 100dvh;
}

@mixin size-100pct {
    height: 100%;
    max-height: 100%;
}

@mixin gutters-x($x: $page-gutter-x) {
    padding-left: $x;
    padding-right: $x;
}

@mixin overflow-x-auto-y-hidden {
    overflow-x: auto;
    overflow-y: hidden;
}

@mixin overflow-x-hidden-y-auto {
    overflow-x: hidden;
    overflow-y: auto;
}

@mixin flex-fill {
    flex: 1 1 auto;
    min-height: 0;
}

@mixin max-h-100pct {
    max-height: 100%;
}
