@import 'theme.scss';

@mixin text-primary($size: 14px) {
    font-weight: 600;
    color: $secondary-color;
    font-size: $size;
}

@mixin text-secondary($size: 12px) {
    font-weight: 500;
    color: $secondary-color-5;
    font-size: $size;
}

@mixin row {
    display: flex;
    flex-direction: row;
}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin ellipisis {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
