// Colors
$primary-color: #000;
$primary-color-1: #0e0e0e;
$primary-color-2: #0a0a0a;
$primary-color-3: #141313;
$primary-color-4: #1a1a1a;
$primary-color-5: #262626;
$primary-color-6: #232323;
$primary-color-7: #3e3e3e;

$secondary-color: #fff;
$secondary-color-1: #fafafa;
$secondary-color-2: #e6e6e6;
$secondary-color-3: #dcdcdc;
$secondary-color-4: #d4d4d4;
$secondary-color-5: #a1a1a1;
$secondary-color-6: #5d5d5d;

$focused-border-color: #2b7fff;
$primary-success-color: #02271c;
$secondary-success-color: #b6fae3;
$primary-warning-color: #342203;
$secondary-warning-color: #feeac7;
$primary-error-color: #a22e2e;
$secondary-error-color: #9b1c1c;
$contrast-error-color: #dcdcdc;
$primary-info-color: #262626;
$secondary-info-color: #3e3e3e;

// Spacings
$gap-small: 2px;
$gap: 4px;
$gap-medium: 8px;
$gap-big: 15px;
$gap-huge: 24px;

$page-gutter-x: 12px;
$topbar-height: 60px;
$navbar-height: 70px;
$navbar-padding-y: 20px;
$navbar-reserved-space: $navbar-height + $navbar-padding-y;

$scroller-fade-size: 24px;
$scroller-fade-blur: 24px;
$scroller-fade-opacity: 0.7;
