@use '../src/icons/icons.scss';
@use '../src/items/items.scss';
@use '../src/thumbnails/thumbnails.scss';
@use '../src/track/track.scss';
@use '../src/progress/progress.scss';
@use '../src/scroller/scroller.scss';
@use '../src/player/player.scss';
@use '../src/login/login.scss';
@use '../src/album/album.scss';
@use '../src/search/search.scss';
@use '../src/button/button.scss';
@use '../src/queue/queue.scss';
@use '../src/navigation/topbar/topbar.scss';
@use '../src/navigation/navbar/navbar.scss';

@use '../src/views/album/album-view.scss';
@use '../src/views/search/search-view.scss';
@use '../src/views/home/home-view.scss';
@use '../src/views/library/library-view.scss';
@use '../src/views/view.scss';

@use 'theme.scss';
@import 'mixins.scss';

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  background-color: $primary-color-2;
  color: $secondary-color-4;
  font-family: 'Roboto', system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 440;
  height: 100vh;
  max-height: 100vh;
}

#main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box; /* recommended for consistent sizing */
  color: $secondary-color-4;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

@supports (scrollbar-width: auto) {
  :not(:hover) {
    scrollbar-color: rgb(0 0 0 / 0%) rgb(0 0 0 / 0%);
  }

  :hover {
    scrollbar-color: $secondary-color-2 rgb(0 0 0 / 0%);
  }
}

/* Legacy browsers with `::-webkit-scrollbar-*` support */
@supports selector(::-webkit-scrollbar) {
  :root::-webkit-scrollbar-track {
    background: transparent;
  }
}
