@import "../../../assets/mixins.scss";
@import "../../../assets/theme.scss";

.album-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $gap-medium;
  @include max-h-100pct;
  @include gutters-x($page-gutter-x);
}
