@import "../../../assets/mixins.scss";
@import "../../../assets/theme.scss";

.album-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $gap-medium;
    @include max-h-100pct;
}
