@import "../../../assets/mixins.scss";
@import "../../../assets/theme.scss";

.artist-info {
    display: flex;
    flex-direction: column;
    gap: $gap-big;
    height: 100%;
    @include max-h-100pct;

    .artist-header {
        @include row;
        gap: $gap-big;
        align-items: center;

        .artist-title {
            display: flex;
            flex-direction: column;
            gap: $gap-small;

            .artist-name {
                font-size: 2rem;
                font-weight: 700;
            }
        }
    }

    .artist-section {
        @include column;
        gap: $gap-small;

        .wikidata-summary {
            @include text-secondary(16px);
            color: $secondary-color-5;
            line-height: 1.5;

            a {
                color: #2196f3;
            }
        }
    }
}
