@import "../../../assets/mixins.scss";
@import "../../../assets/theme.scss";

.artist-view {
  display: flex;
  flex-direction: column;
  gap: $gap-big;
  height: 100%;
  @include max-h-100pct;
  @include gutters-x($page-gutter-x);

  .artist-header {
    @include column;
    gap: $gap-big;
    align-items: center;

    .artist-title {
      display: flex;
      flex-direction: column;
      gap: $gap-small;

      .artist-name {
        font-size: 2rem;
        font-weight: 700;
      }
    }
  }
}
