@import "../../../assets/mixins.scss";
@import "../../../assets/theme.scss";

.now-playing-view {
  @include column;
  justify-content: space-between;
  gap: 30px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
                    to bottom,
                    transparent 0%,
                    rgba(0, 0, 0, 0.02) 5%,
                    rgba(0, 0, 0, 0.05) 10%,
                    rgba(0, 0, 0, 0.08) 15%,
                    rgba(0, 0, 0, 0.12) 20%,
                    rgba(0, 0, 0, 0.18) 25%,
                    rgba(0, 0, 0, 0.25) 30%,
                    rgba(0, 0, 0, 0.33) 35%,
                    rgba(0, 0, 0, 0.42) 40%,
                    rgba(0, 0, 0, 0.52) 45%,
                    rgba(0, 0, 0, 0.62) 50%,
                    rgba(0, 0, 0, 0.72) 55%,
                    rgba(0, 0, 0, 0.8) 60%,
                    rgba(0, 0, 0, 0.86) 65%,
                    rgba(0, 0, 0, 0.91) 70%,
                    rgba(0, 0, 0, 0.94) 100%,
                    rgba(0, 0, 0, 0.96) 80%,
                    rgba(0, 0, 0, 0.98) 85%,
                    rgba(0, 0, 0, 0.99) 90%
    );
    pointer-events: none;
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  .album-cover-background {
    @include column;
    @include gutters-x($page-gutter-x);
    margin-bottom: $navbar-reserved-space;
    padding-top: 30px;
    justify-content: space-between;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100dvh - $navbar-reserved-space);
    width: 100dvw;

    .album-cover-image {
      max-width: 70%;
      max-height: 70%;
      align-self: center;
    }
  }

  .now-playing-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    .now-playing-header-title {
      grid-column: 2;
      justify-self: center;
      text-align: center;
    }

    .header-end {
      grid-column: 3;
      justify-self: end;
    }
  }

  .track-info {
    @include row;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .progress-container {
    width: 100%;
    height: 5px;
    @include column;
    justify-self: center;
  }

  .timing-progress {
    @include row;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .player-controls {
    @include row;
    align-items: center;
    justify-content: space-between;
    gap: $gap-big;

    .queue-controls {
      @include row;
      gap: $gap-big;
      align-items: center;
      justify-content: space-between;
    }
  }

  .control {
    @include column;
    justify-content: center;
    align-items: center;

    &.disabled {
      .icon {
        fill: $secondary-color-5;
      }
    }
  }
}
