@import "../../../assets/mixins.scss";
@import "../../../assets/theme.scss";

.player-fullscreen {
    height: 100%;
    @include column;
    justify-content: center;

    .controls-container {
        width: 100%;
        height: 100%;
        @include column;
        gap: $gap-big;

        .track-info {
            @include row;
            justify-content: space-between;
            padding-bottom: 20px;
        }

        .progress-container {
            width: 100%;
            height: 5px;
            @include column;
            justify-self: center;
        }

        .timing-progress {
            @include row;
            justify-content: space-between;
            padding-bottom: 20px;
        }

        .player-controls {
            @include row;
            align-items: center;
            justify-content: space-between;
            gap: $gap-big;

            .queue-controls {
                @include row;
                gap: $gap-big;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

    .control {
        @include column;
        justify-content: center;
        align-items: center;

        &.disabled {
            .icon {
                fill: $secondary-color-5;
            }
        }
    }

    .queue-container {
        height: 0;
    }
}
