@import "../../../assets/mixins.scss";
@import "../../../assets/theme.scss";

.now-playing-view {
  @include column;
  justify-content: space-between;
  gap: 30px;

  .now-playing-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    .now-playing-header-title {
      grid-column: 2;
      justify-self: center;
      text-align: center;
    }

    .header-end {
      grid-column: 3;
      justify-self: end;
    }
  }

  .track-info {
    @include row;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .progress-container {
    width: 100%;
    height: 5px;
    @include column;
    justify-self: center;
  }

  .timing-progress {
    @include row;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .player-controls {
    @include row;
    align-items: center;
    justify-content: space-between;
    gap: $gap-big;

    .queue-controls {
      @include row;
      gap: $gap-big;
      align-items: center;
      justify-content: space-between;
    }
  }

  .control {
    @include column;
    justify-content: center;
    align-items: center;

    &.disabled {
      .icon {
        fill: $secondary-color-5;
      }
    }
  }
}
