@import '../../../assets/mixins.scss';
@import '../../../assets/theme.scss';

.search-empty {
  @include gutters-x($page-gutter-x);
  @include column;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
}
