@import '../../../../cadence-ui/assets/theme.scss';

.album-view {
   margin: 20px;
}

.album-info {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        margin: 0;
        font-size: 24px;
    }

    h2 {
        margin: 0;
        font-size: 16px;
    }

    h3 {
        margin: 0;
        font-size: 16px;
    }

    p {
        margin: 0;
        font-size: 14px;
        color: #9ca3af;
    }

    .year {
        font-size: 12px;
        color: #6b7280;
    }

    .track-list {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        gap: $gap-big;

    }
}

.album-cover {
    width: 100%;
    height: 30%;
    background-size: cover;
    background-repeat: no-repeat;

    .album-cover-overlay {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            border-radius: 40%;
            width: 250;
            max-width: 100%;
            height: auto;
            margin: auto;
            margin-top: 35px;
            margin-bottom: 35px;
            border-radius: 8px;
        }
    }
}
