@import '../../../../cadence-ui/assets/theme.scss';

.album-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        margin: 0;
        font-size: 24px;
    }

    h2 {
        margin: 0;
        font-size: 16px;
    }

    h3 {
        margin: 0;
        font-size: 16px;
    }

    p {
        margin: 0;
        font-size: 14px;
        color: #9ca3af;
    }

    .year {
        font-size: 12px;
        color: #6b7280;
    }
}
