@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap');

body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: "Flow Circular", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    transition: none !important;
    animation: none !important;
    -webkit-tap-highlight-color: transparent;
}

button:active {
    transform: none !important;
    box-shadow: none !important;
    background-color: inherit !important;
}
