@use "styles/album.scss";
@use "styles/home.scss";
@use "styles/artist.scss";
@use "styles/search.scss";
@use "styles/library.scss";
@use "styles/now_playing.scss";
@use "styles/settings.scss";
@use "styles/shazam.scss";

@import "../../assets/mixins.scss";
@import "../../assets/theme.scss";

.view {
  @include column;
  box-sizing: border-box;
  @include size-100dvh;
}
