.album-action-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .album-action-bar-start {
      display: flex;
      flex-direction: row;
  }
  .album-action-bar-end {
      display: flex;
      flex-direction: row;
  }
}
