.player-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    bottom: 71px;
    background-color: #1a1d24;
}

.track-info {
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.track-info h3 {
    margin: 0;
    color: #ffffff;
    font-size: 12px;
}

.track-info p {
    margin: 0;
    color: #9ca3af;
    font-size: 10px;
}

.progress-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.player-controls {
    background-color: #1a1d24;
}

.player-controls button {
    background-color: #1a1d24;
}
.player-controls button svg {
    background-color: #1a1d24;
}

.player-controls button:hover {
}

.no-track {
    color: #6b7280;
}
