@import "../../../../assets/mixins.scss";
@import "../../../../assets/theme.scss";

.track-list {
    @include column;
    gap: $gap-big;
}

.track-list-with-cover-container {
    @include column;
    gap: $gap-big;
}
