@import '../../assets/mixins.scss';

.navbar-item {
    @include column;
    align-items: center;

    > .navbar-item-icon.active {
        animation: shrinkPulse 1s infinite;
    }

    > .navbar-item-label {
        @include text-primary;
    }
}

@keyframes shrinkPulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
}
