#topbar {
    background: #0a0a0a;
}
#header {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#topbar-source-selector {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 10px;
}

