@import "../../../../assets/mixins.scss";
@import "../../../../assets/theme.scss";

.expandable-wrapper {
    @include row;
    gap: 0;
    background-color: grey;
    border-radius: 14px;
    transition: all 0.3s ease-out;

    &.expanded {
        background-color: grey;
    }

    &.active {
        background-color: seagreen;
    }
}

.menu-button {
    @include row;
    align-items: center;
    justify-content: center;
    height: 26px;
    border-radius: 14px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: grey;
    transition: all 0.3s ease-out;
    &.active {
        background-color: green;
    }
}

.expanded-content {
    overflow: hidden;
    width: 0;
    transition: all 0.3s ease-out;
    border-radius: 14px;
    white-space: nowrap;

    &.expanded {
        width: 100%;
        > * {
            background-color: grey;
        }
    }

    &.active {
        background-color: seagreen;
        > * {
            background-color: seagreen;
        }
    }
}

.back-button {
    position: fixed;
    left: 0;
    padding: 0.5rem 1rem;
    z-index: 1000;
    border: none;
    border-radius: 0 0 14px 0;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
