@import "../../../../assets/mixins.scss";
@import "../../../../assets/theme.scss";

.item-info {
    @include column;
    justify-content: space-around;
    align-content: end;

    .item-line {
        @include row;
        gap: $gap;
        flex-grow: 1;

        .item-primary {
            @include ellipsis;
            @include text-primary;
        }
    }

    .item-secondary {
        @include ellipsis;
        @include text-secondary;
    }
}

.item-row {
    @include row;
    justify-content: space-between;

    .item-row-start {
        @include row;
        align-items: center;
        gap: $gap-medium;
    }

    .item-row-action {
        @include row;
        align-items: center;
        gap: $gap;
    }
}
