@import "../../../../assets/mixins.scss";
@import "../../../../assets/theme.scss";

.player-container {
    @include column;
    width: 94%;
    background-color: $primary-color-6;
    border-radius: 4px;
    align-self: center;

    .player {
        @include row;
        justify-content: space-between;
        padding: 8px;

        .track-container {
            @include row;
            gap: $gap;
            align-items: center;
            // Prevent the track info from pushing controls off screen
            overflow: hidden;
            flex: 1;
            min-width: 0;
        }

        .player-controls {
            @include row;
            gap: $gap;
            align-items: center;
            justify-content: space-between;

            button {
                @include row;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .radio-player {
        .radio-player-thumbnail {
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
        }

        .item-info {
            overflow: hidden;
            min-width: 0;
        }
    }

    .progress-container {
        @include column;
        justify-self: center;
        margin-left: 8px;
        margin-right: 8px;
    }
}
