.track-row {
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


    .track-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .track-title-line {
            display: flex;
            flex-direction: row;
            gap: var(--gap);
            flex-grow: 1;

            .track-title {
                font-size: 14px;
                padding-top: 3px;
                line-height: 0.8;
            }
        }
    }


    .icon {
        background-color: inherit;
    }

}
