@import '../../assets/mixins.scss';

.item-info {
    @include column;
    justify-content: space-around;

    .item-line {
        @include row;
        gap: var(--gap);
        flex-grow: 1;

        .item-primary {
            @include text-primary;
            padding-top: 3px;
            line-height: 0.8;
        }
    }
    .item-secondary {
         @include text-secondary;
         padding-top: 3px;
     }
}
