@use '../../../assets/theme.scss';
@import '../../../assets/mixins.scss';

.navbar-container {
    @include column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;

    #navbar {
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        @include row;
        opacity: 0.9;
        padding-bottom: 10px;
        padding-top: 10px;
        color: $secondary-color;
        background-color: $primary-color;
        gap: 20px;
        justify-content: center;
        height: 50px;
        width: 100%;

        .icon {
            fill: $secondary-color;
            background-color: $primary-color;
            color: $secondary-color;
            @include row;
        }

        .navbar-item {
            @include column;
            align-items: center;

            > .navbar-item-icon.active {
                animation: shrinkPulse 1s infinite;
            }

            > .navbar-item-label {
                @include text-primary;
            }
        }
    }
}




@keyframes shrinkPulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
}
