@import '../../../../cadence-ui/assets/theme.scss';

#navbar {
    padding-bottom: 10px;
    padding-top: 10px;
    color: $secondary-color;
    background-color: $primary-color;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;

    .icon {
        fill: $secondary-color;
        background-color: $primary-color;
        color: $secondary-color;
        display: flex;
        flex-direction: row;
    }
}
