@import url("https://fonts.googleapis.com/css2?Flow+Circular&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

#main {
    padding-top: 20px;
    padding-bottom: 70px;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
