.search-view {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.search-results {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
    margin-left: 15px;
}

.search-results .row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-input-container {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    height: 30px;
    background-color: var(--primary-color-5);
}

.search-input-container .icon {
    margin-right: 8px;
    background-color: var(--primary-color-5);
}

.search-input-container input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    padding: 0;
    color: var(--secondary-color);
    background-color: var(--primary-color-5);
    caret-color: var(--secondary-color);
}

.search-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
    padding-bottom: 30%;
}
