@import '../../../../cadence-ui/assets/theme.scss';

.search-view {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.search-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
    padding-bottom: 30%;
}
