.progress-container {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color-1);
    height: 6px;
}

.progress {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 3px;
    box-sizing: border-box;
}

.progress-indicator {
    width: var(--progress-value, 10%);
    height: 100%;
    background-color: grey;
    transition: width 250ms ease;
}

.progress[data-state="indeterminate"] .progress-indicator {
    width: 100%;
    animation: indeterminate 1s infinite linear;
}

.progress-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

@keyframes indeterminate {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(200%);
    }
}
