@import '../../assets/mixins.scss';

.album-action-bar {
    @include row;
    justify-content: space-between;

  .album-action-bar-start {
      @include row;
      gap: $gap;
  }

  .album-action-bar-end {
      @include row;
      align-items: center;
      gap: $gap;
  }
}
