@import '../../assets/mixins.scss';

.album-card {
  @include column;
  cursor: pointer;
  gap: $gap-big;
  transition: transform 0.2s, box-shadow 0.2s;

  :hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(99, 102, 241, 0.3);
  }

  img {
    width: 120px;
    height: 120px;
    border-radius: 3px;
  }

  .no-cover {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 48px;
    padding-bottom: 10px;
  }
}
