#navbar {
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000; /* Ensure it stays on top of other elements */
}

.icon {
    fill: white;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
}

#navbar a {
    color: #ffffff;
    margin-right: 20px;
    text-decoration: none;
    transition: color 0.2s ease;
}

#navbar a:hover {
    cursor: pointer;
    color: #91a4d2;
}

#navbar .navbar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
