.album-card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 3px;
    transition:
        transform 0.2s,
        box-shadow 0.2s;
}

.album-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(99, 102, 241, 0.3);
}

.album-card img {
    width: 120px;
    height: 120px;
    border-radius: 3px;
    margin-bottom: 4px;
}

.album-info {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-size: 10px;
    gap: 3px;
}

.album-name, .album-artist{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-cover {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 48px;
    margin-bottom: 10px;
}
