.music-bars {
    display: flex;
    align-items: flex-end;
    gap: 2px;

    div.active {
        animation: bounce 0.8s infinite;
    }

    div {
        width: 3px;
        background: #2196f3;
        border-radius: 2px;
        height: 2px;
        transition: height 0.8s cubic-bezier(0,0,1,1);
    }

    div:nth-child(2) {
        animation-delay: 0.2s;
    }

    div:nth-child(3) {
        animation-delay: 0.4s;
    }
}

@keyframes bounce {
    0% {
        height: 6px;
    }

    50% {
        height: 14px;
    }

    100% {
        height: 6px;
    }
}

.icon {
    background-color: inherit;
}
